In [1]:
import numpy as np
import pandas as pd

In [2]:
alldata = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004final.xlsx")
train1data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004train1final.xlsx")
train2data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004train2final.xlsx")
train3data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004train3final.xlsx")

In [3]:
data1 = alldata.sort_values("LocationID")
data1 = data1.reset_index(drop=True)

from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
scaler.fit(data1[['pop_density','commercial_density','road_density','X','Y']])
data1[['pop_density','commercial_density','road_density','X','Y']] = scaler.transform(data1[['pop_density','commercial_density','road_density','X','Y']])

In [4]:
X = np.array(data1[["X"]])
Y = np.array(data1[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data1[["time"]])

y = np.array(data1[["Freq"]])

pop = np.array(data1[["pop_density"]])
com = np.array(data1[["commercial_density"]])
roa = np.array(data1[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.model import GTWR

results1 = GTWR(coords, t, y, x,81.0,0.01, kernel='bisquare').fit()

results1.R2

0.7671384327419303

In [5]:
coords = results1.coords
coords = pd.DataFrame(coords)

time = results1.t
time = pd.DataFrame(time)

betas = results1.betas
betas = pd.DataFrame(betas)

tvalues = results1.tvalues
tvalues = pd.DataFrame(tvalues)

final_result = pd.concat([time,betas,tvalues,coords], axis = 1)
final_result.columns=['time','beta0','POP_beta','COM_beta','ROA_beta','t_beta0','t_POP_beta','t_COM_beta','t_ROA_beta','X','Y']

time_data = final_result.sort_values("time")

data2 = pd.merge(data1, time_data, left_on=['time','X','Y'], right_on=['time','X','Y'] , how='left')
data2 = data2.sort_values("time")
data2 = data2.reset_index(drop=True)
data2.drop(['Freq','pop_density','commercial_density','road_density'],axis=1,inplace = True)

data3 = pd.DataFrame()
for j in range(len(data2)):
    if abs(data2.iloc[j,8]) > 0 and abs(data2.iloc[j,9]) > 0 and abs(data2.iloc[j,10]) > 0 and abs(data2.iloc[j,11]) > 0 :
        a = data2.iloc[j,:]
        data3 = pd.concat([data3, a], axis=1, ignore_index = True)

data3 = data3.T
beta = data3.groupby('time').mean()
beta.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta.csv',index=True,sep=',')

data = data3.round(6)

beta1 = data.groupby('LocationID')['POP_beta'].mean()
beta1.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta1.csv',index=True,header = 0,sep=',')

beta2 = data.groupby('LocationID')['COM_beta'].mean()
beta2.to_csv(r'E:\\Capstone Project\\Data\\paper\drop202004beta2.csv',index=True,header = 0,sep=',')

beta3 = data.groupby('LocationID')['ROA_beta'].mean()
beta3.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta3.csv',index=True,header = 0,sep=',')

In [68]:
betas = results1.betas
coefficients = pd.DataFrame(betas)
coefficients.describe()

                  0             1             2             3
count  30429.000000  30429.000000  30429.000000  30429.000000
mean       8.409716      0.893209      1.492899      0.335106
std       10.053621      3.745279      3.883164      3.392390
min      -13.006654    -14.865025    -15.640993    -25.813254
25%        2.169580     -0.495193     -0.263722     -0.811547
50%        3.170428      0.109760      0.308522      0.060135
75%       12.536641      1.015831      1.773162      0.959608
max       58.107564     29.389943     27.134995     16.950231

In [69]:
tvalues = results1.tvalues
t = pd.DataFrame(tvalues)

In [75]:
data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004final.xlsx")
data1 = data.iloc[:,0:2]
data2 = pd.concat([data1, coefficients,t], axis = 1)
data2.columns=['time','LocationID','beta0','POP_beta','COM_beta','ROA_beta','t_beta0','t_POP_beta','t_COM_beta','t_ROA_beta']
data3 = pd.DataFrame()
for j in range(len(data2)):
    if abs(data2.iloc[j,6]) > 2 and abs(data2.iloc[j,7]) > 2 and abs(data2.iloc[j,8]) > 2 and abs(data2.iloc[j,9]) > 2 :
        a = data2.iloc[j,:]
        data3 = pd.concat([data3, a], axis=1, ignore_index = True)

data3 = data3.T
beta = data3.groupby('time').mean()
beta.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta.csv',index=True,sep=',')

In [76]:
data = data3.round(6)

In [80]:
beta1 = data3.groupby('LocationID')['POP_beta'].mean()
beta1.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta1.csv',index=True,header = 0,sep=',')

In [81]:
beta2 = data3.groupby('LocationID')['COM_beta'].mean()
beta2.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta2.csv',index=True,header = 0,sep=',')

In [82]:
beta3 = data3.groupby('LocationID')['ROA_beta'].mean()
beta3.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta3.csv',index=True,header = 0,sep=',')

In [7]:
data = pd.read_excel("E:\\Capstone Project\\Data\\paper\\drop202004beta1.xlsx")
beta1.to_csv(r'E:\\Capstone Project\\Data\\paper\\drop202004beta1.csv',index=True,header = 0,sep=',')

In [49]:
data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004final.xlsx")
data1 = data.iloc[:,0:2]
data2 = pd.concat([hour, coefficients,t], axis = 1)
data2.columns=['time','LocationID','beta0','POP_beta','COM_beta','ROA_beta','t_beta0','t_POP_beta','t_COM_beta','t_ROA_beta']
data2

,time,LocationID,beta0,POP_beta,COM_beta,ROA_beta,t_beta0,t_POP_beta,t_COM_beta,t_ROA_beta
0,0,1,-0.647258,-0.074509,-3.133971,0.397548,-0.107658,-0.015818,-0.496228,0.209442
1,0,3,0.942984,-0.104851,-0.377050,0.101797,0.350996,-0.038799,-0.074702,0.062588
2,0,4,0.574004,-0.060085,-0.813839,-0.042009,0.153163,-0.014376,-0.119819,-0.017344
3,0,7,1.189796,-0.193662,-0.153998,0.086083,0.349901,-0.092877,-0.031375,0.049402
4,0,9,0.725807,-0.058519,-0.513270,-0.095697,0.216189,-0.014423,-0.076255,-0.039073
...,...,...,...,...,...,...,...,...,...,...
30424,179,259,22.582810,4.412773,6.532073,0.864545,19.691115,2.562731,5.688260,0.785794
30425,179,260,36.811587,1.084475,10.252474,4.143752,31.242524,0.613895,8.530306,3.707409
30426,179,261,41.506087,3.034327,10.567173,4.915613,35.224835,1.714120,8.755526,4.442450
30427,179,262,21.820638,3.172395,5.385626,0.818938,18.858529,1.845348,4.603457,0.734376
30428,179,263,32.253201,2.801001,6.850756,4.891270,26.164949,1.453744,5.819318,4.101947

In [48]:
data.iloc[0,:].T

time                     0.000000
LocationID               1.000000
Freq                     1.000000
pop_density           1955.000237
commercial_density       0.000000
road_density             0.000000
X                      -74.174000
Y                       40.691831
Name: 0, dtype: float64

In [51]:
data3 = pd.DataFrame()
for j in range(len(data2)):
    if abs(data2.iloc[j,6]) > 2 and abs(data2.iloc[j,7]) > 2 and abs(data2.iloc[j,8]) > 2 and abs(data2.iloc[j,9]) > 2 :
        a = data2.iloc[j,:]
        data3 = pd.concat([data3, a], axis=1, ignore_index = True)
data3

,0,1,2,3,4,5,6,7,8,9,...,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092
time,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000
LocationID,254.000000,262.000000,7.000000,20.000000,33.000000,68.000000,71.000000,79.000000,83.000000,91.000000,...,225.000000,226.000000,227.000000,228.000000,230.000000,231.000000,232.000000,236.000000,238.000000,249.000000
beta0,13.408684,16.066479,17.096312,13.666475,15.918814,17.288559,20.036596,15.318624,14.374357,19.324838,...,49.459138,37.778454,42.123749,29.950318,41.166414,40.864965,37.177028,37.984753,51.559915,47.568215
POP_beta,-1.193801,-1.098004,-1.746792,-1.181284,-1.152935,-1.096899,-1.545669,-1.236068,-1.145299,-1.600301,...,5.342061,3.638429,5.160512,4.497096,5.386845,4.518109,4.920645,4.495534,9.286369,9.384252
COM_beta,-2.266605,-2.676654,-2.192417,-2.373182,-2.741331,-2.990622,-4.050585,-2.619820,-2.699900,-2.211968,...,8.573164,12.097748,15.348869,8.242048,13.010553,9.034359,9.460380,8.715688,12.318718,10.937746
ROA_beta,3.672429,3.044274,4.822377,3.618940,3.394419,2.795686,3.382370,3.904101,2.751084,4.218032,...,5.984500,3.238430,2.440477,2.363708,3.006234,5.129216,3.853750,5.079102,5.079362,5.260768
t_beta0,10.839477,13.175161,13.949972,10.888767,13.006372,14.242602,16.202095,12.390970,11.665632,15.816371,...,40.266395,32.086147,35.708127,25.486091,35.969048,34.682685,31.604895,31.578758,43.759642,40.438640
t_POP_beta,-3.030815,-2.838607,-4.525948,-2.919203,-2.968246,-2.845988,-3.925273,-3.185266,-2.952212,-4.125941,...,2.788008,2.062390,2.918947,2.543410,3.132773,2.557592,2.781550,2.431189,5.256789,5.304746
t_COM_beta,-2.223446,-2.631585,-2.177883,-2.317028,-2.704557,-2.945479,-3.979717,-2.577454,-2.660390,-2.179675,...,7.652413,10.062771,12.707757,6.792699,11.330296,7.516805,7.842081,7.383096,10.249471,9.066728
t_ROA_beta,2.743151,2.335521,3.742532,2.596558,2.597114,2.150784,2.540837,2.973848,2.113228,3.233149,...,4.792863,2.955057,2.244881,2.174604,2.790257,4.589103,3.509767,4.471675,4.544499,4.791196

In [52]:
data3.T

,time,LocationID,beta0,POP_beta,COM_beta,ROA_beta,t_beta0,t_POP_beta,t_COM_beta,t_ROA_beta
0,0.0,254.0,13.408684,-1.193801,-2.266605,3.672429,10.839477,-3.030815,-2.223446,2.743151
1,0.0,262.0,16.066479,-1.098004,-2.676654,3.044274,13.175161,-2.838607,-2.631585,2.335521
2,1.0,7.0,17.096312,-1.746792,-2.192417,4.822377,13.949972,-4.525948,-2.177883,3.742532
3,1.0,20.0,13.666475,-1.181284,-2.373182,3.618940,10.888767,-2.919203,-2.317028,2.596558
4,1.0,33.0,15.918814,-1.152935,-2.741331,3.394419,13.006372,-2.968246,-2.704557,2.597114
...,...,...,...,...,...,...,...,...,...,...
2088,179.0,231.0,40.864965,4.518109,9.034359,5.129216,34.682685,2.557592,7.516805,4.589103
2089,179.0,232.0,37.177028,4.920645,9.460380,3.853750,31.604895,2.781550,7.842081,3.509767
2090,179.0,236.0,37.984753,4.495534,8.715688,5.079102,31.578758,2.431189,7.383096,4.471675
2091,179.0,238.0,51.559915,9.286369,12.318718,5.079362,43.759642,5.256789,10.249471,4.544499
2092,179.0,249.0,47.568215,9.384252,10.937746,5.260768,40.438640,5.304746,9.066728,4.791196

In [ ]:
X = np.array(data1[["X"]])
Y = np.array(data1[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data1[["time"]])

y = np.array(data1[["Freq"]])

pop = np.array(data1[["pop_density"]])
com = np.array(data1[["commercial_density"]])
roa = np.array(data1[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.sel import search_GTWRparameter

sel = search_GTWRparameter(coords, t, y, x, kernel = 'bisquare')

bw, tau = sel.search(verbose = True)

In [25]:
data2 = train1data.sort_values("LocationID")
data2 = data2.reset_index(drop=True)


from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
scaler.fit(data2[['pop_density','commercial_density','road_density','X','Y']])
data2[['pop_density','commercial_density','road_density','X','Y']] = scaler.transform(data2[['pop_density','commercial_density','road_density','X','Y']])

In [6]:
X = np.array(data2[["X"]])
Y = np.array(data2[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data2[["time"]])

y = np.array(data2[["Freq"]])

pop = np.array(data2[["pop_density"]])
com = np.array(data2[["commercial_density"]])
roa = np.array(data2[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.sel import search_GTWRparameter

sel = search_GTWRparameter(coords, t, y, x, kernel = 'bisquare')

bw, tau = sel.search(verbose = True)

bw:  6966.0 , tau:  0.2 , score:  146324.92291679126
bw:  4323.0 , tau:  0.2 , score:  146302.5258730688
bw:  4323.0 , tau:  0.2 , score:  146302.5258730688
bw:  4323.0 , tau:  0.2 , score:  146302.5258730688
bw:  3700.0 , tau:  0.2 , score:  146293.96194576455
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113
bw:  3314.0 , tau:  0.2 , score:  146289.4746226113

In [26]:
X = np.array(data2[["X"]])
Y = np.array(data2[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data2[["time"]])

y = np.array(data2[["Freq"]])

pop = np.array(data2[["pop_density"]])
com = np.array(data2[["commercial_density"]])
roa = np.array(data2[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.model import GTWR

results2 = GTWR(coords, t, y, x,81.0,0.01, kernel='bisquare').fit()

results2.R2

0.7691462985623049

In [29]:
data3 = train2data.sort_values("LocationID")
data3 = data3.reset_index(drop=True)


from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
scaler.fit(data3[['pop_density','commercial_density','road_density','X','Y']])
data3[['pop_density','commercial_density','road_density','X','Y']] = scaler.transform(data3[['pop_density','commercial_density','road_density','X','Y']])

In [30]:
X = np.array(data3[["X"]])
Y = np.array(data3[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data3[["time"]])

y = np.array(data3[["Freq"]])

pop = np.array(data3[["pop_density"]])
com = np.array(data3[["commercial_density"]])
roa = np.array(data3[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.sel import search_GTWRparameter

sel = search_GTWRparameter(coords, t, y, x, kernel = 'bisquare')

bw, tau = sel.search(verbose = True)

bw:  8087.0 , tau:  0.2 , score:  169497.7396704985
bw:  5016.0 , tau:  0.2 , score:  169216.6402061017
bw:  3119.0 , tau:  0.2 , score:  168541.09996336346
bw:  1946.0 , tau:  0.2 , score:  167239.88543582294
bw:  1221.0 , tau:  0.2 , score:  164973.56292045108
bw:  773.0 , tau:  0.2 , score:  162125.90183982239
bw:  496.0 , tau:  0.2 , score:  158898.78481744142
bw:  325.0 , tau:  0.2 , score:  156377.55551072967
bw:  219.0 , tau:  0.2 , score:  154611.77795422182
bw:  154.0 , tau:  0.2 , score:  154155.70316025743
bw:  113.0 , tau:  0.2 , score:  153412.89111140894
bw:  88.0 , tau:  0.2 , score:  152822.78641434948
bw:  88.0 , tau:  0.2 , score:  152822.78641434948
bw:  88.0 , tau:  3.8 , score:  152822.78641434948
bw:  83.0 , tau:  0.2 , score:  152704.98416148633
bw:  83.0 , tau:  0.2 , score:  152704.98416148633
bw:  83.0 , tau:  3.8 , score:  152704.98416148633
bw:  83.0 , tau:  0.2 , score:  152704.98416148633
bw:  83.0 , tau:  3.8 , score:  152704.98416148633

In [33]:
X = np.array(data3[["X"]])
Y = np.array(data3[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data3[["time"]])

y = np.array(data3[["Freq"]])

pop = np.array(data3[["pop_density"]])
com = np.array(data3[["commercial_density"]])
roa = np.array(data3[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.model import GTWR

results3 = GTWR(coords, t, y, x,83.0,0.01, kernel='bisquare').fit()

results3.R2

0.7656450918877168

In [31]:
data4 = train3data.sort_values("LocationID")
data4 = data4.reset_index(drop=True)


from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
scaler.fit(data4[['pop_density','commercial_density','road_density','X','Y']])
data4[['pop_density','commercial_density','road_density','X','Y']] = scaler.transform(data4[['pop_density','commercial_density','road_density','X','Y']])

In [32]:
X = np.array(data4[["X"]])
Y = np.array(data4[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data4[["time"]])

y = np.array(data4[["Freq"]])

pop = np.array(data4[["pop_density"]])
com = np.array(data4[["commercial_density"]])
roa = np.array(data4[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.sel import search_GTWRparameter

sel = search_GTWRparameter(coords, t, y, x, kernel = 'bisquare')

bw, tau = sel.search(verbose = True)

bw:  9275.0 , tau:  0.2 , score:  195377.053722467
bw:  5750.0 , tau:  0.2 , score:  195130.9741948887
bw:  3572.0 , tau:  0.2 , score:  194529.14021886815
bw:  2226.0 , tau:  0.2 , score:  193246.39611232452
bw:  1394.0 , tau:  0.2 , score:  190982.16027071112
bw:  880.0 , tau:  0.2 , score:  187752.99549613683
bw:  562.0 , tau:  0.2 , score:  184149.78255377838
bw:  366.0 , tau:  0.2 , score:  181197.01902527417
bw:  244.0 , tau:  0.2 , score:  178571.83403123077
bw:  169.0 , tau:  0.2 , score:  177849.56367209484
bw:  123.0 , tau:  0.2 , score:  177081.2485742488
bw:  94.0 , tau:  0.2 , score:  176249.57061657924
bw:  94.0 , tau:  0.2 , score:  176249.57061657924
bw:  94.0 , tau:  3.8 , score:  176249.57061657924
bw:  88.0 , tau:  0.2 , score:  176214.43392868462
bw:  83.0 , tau:  0.2 , score:  176096.998758211
bw:  83.0 , tau:  0.2 , score:  176096.998758211
bw:  83.0 , tau:  3.8 , score:  176096.998758211
bw:  83.0 , tau:  3.8 , score:  176096.998758211

In [34]:
X = np.array(data4[["X"]])
Y = np.array(data4[["Y"]])
coords = np.hstack([X,Y])

t = np.array(data4[["time"]])

y = np.array(data4[["Freq"]])

pop = np.array(data4[["pop_density"]])
com = np.array(data4[["commercial_density"]])
roa = np.array(data4[["road_density"]])
x = np.hstack([pop,com,roa])

from gtwr.model import GTWR

results4 = GTWR(coords, t, y, x,83.0,0.01, kernel='bisquare').fit()

results4.R2

0.7665897801789363